body {
  font-style: regular;
  font-size: 14px;
  line-height: 21px;
  font-family: "PTSans", Arial, sans-serif;
  color: #333333;
}

li {
  font-style: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.description {
  font-style: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  background-color: #90f6ff;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation {
  background-color: #ffeea0;
  margin-bottom: 30px;
}

.promo {
  background-color: #ffeea0;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
  margin-top: 76px;
}

.information {
  background-color: #ffeea0;
  width: 575px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  min-height: 115px;
}

.features {
  background-color: #cfe09b;
  width: 1200px;
  min-height: 256px;
}

.features-item {
  background-color: #81b3d2;
  float: left;
  width: 400px;
  box-sizing: border-box;
  padding-top: 53px;
  padding-left: 52px;
  padding-right: 52px;
  min-height: 256px;
}

.item {
  background-color: #e8e8e8;
}

.img-1 {
  float: right;
}

.triggers {
  margin-left: 50px;
  margin-bottom: 85px;
  margin-top: 56px;
}

.trigger-item {
  background-color: #e8e8e8;
  float: left;
  width: 300px;
  margin-right: 100px;
}

.trigger-item:last-child {
  margin-right: 0;
}

.img-2 {
  float: left;
}

.search-hotel-map {
  background-color: #ffeea0;
  width: 576px;
  min-height: 290px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 54px;
}

.search-hotel-intro {
  background-color: #e8e8e8;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.btn-search {
  background-color: #81b3d2;
  width: 576px;
  min-height: 86px;
}

.map {
  background-color: #e8e8e8;
  width: 1200px;
  min-height: 475px;
}

.main-footer {
  background-color: #ffeea0;
  padding-top: 35px;
  padding-bottom: 35px;
  min-height: 120px;
}

.hashtag {
  background-color: #e8e8e8;
  float: left;
  width: 137px;
  margin-left: 133px;
  margin-right: 255px;
}

.footer-social {
  background-color: #e8e8e8;
  float: left;
  width: 150px;
  margin-right: 225px;
  min-height: 50px;
}

.footer-copyright {
  background-color: #e8e8e8;
  float: right;
  width: 200px;
  margin-right: 100px;
}

.search-hotel {
  background-color: #ffeea0;
  width: 1055px;
  min-height: 155px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.accommodation-conditions {
  background-color: #e8e8e8;
  float: left;
  width: 150px;
  margin-right: 103px;
  min-height: 156px;
}

.cost-of {
  background-color: #e8e8e8;
  float: right;
  width: 328px;
  min-height: 156px;
}