body {
  font-style: regular;
  font-size: 14px;
  line-height: 21px;
  font-family: "PTSans", sans-serif;
  color: #333333;
}

li {
  font-style: bold;
  font-size: 14px;
  line-height: 26px;
  font-family: "PTSans", sans-serif;
  color: #000000;
}

.description {
  font-style: bold;
  font-size: 21px;
  line-height: 26px;
  font-family: "PTSans", sans-serif;
  color: #000000;
}